<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008026727377-j99dfeul67q5u6s41dqvsihvnsc22uii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008026727377-j99dfeul67q5u6s41dqvsihvnsc22uii</string>
	<key>API_KEY</key>
	<string>AIzaSyCQE_xISF1GC2r4iZyO5Vbs3GTn5KEB-o0</string>
	<key>GCM_SENDER_ID</key>
	<string>1008026727377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>face-b9a67</string>
	<key>STORAGE_BUCKET</key>
	<string>face-b9a67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008026727377:ios:5be909dee7dee1709326f0</string>
</dict>
</plist>